body {
  text-align: center;
  font-size: 40px;
  background-color: #1C1A24 !important;
  width: 350px;
  height: 400px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  margin-top: 2rem;
}

.clear {
  font-size: 20px;
  font-weight: medium;
  font-family: "Inter";
  background-color: #2C2938;
  color: #867DA9;
  height: 55px;
  width: 150px;
  margin-bottom: 25px;
  border-radius: 7%;
  border: 0;
  margin-left: 15px;
}

.reset {
  font-size: 20px;
  font-weight: medium;
  font-family: "Inter";
  background-color: #2C2938;
  color: #867DA9;
  height: 55px;
  width: 150px;
  margin-bottom: 25px;
  border-radius: 7%;
  border: 0;
}

.visit {
  color: #867DA9;
  font-family: "Inter";
  font-weight: medium;
  margin-top: 60px;
  margin-bottom: 15px;
}

.sitename {
  color: #484163;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
}

.numbers {
  color: #B8B4C9;
  font-family: "Inter";
  font-size: 81px;
  font-weight: medium;
  margin-top: 15px;
  margin-bottom: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.icon {
  margin-right: 1rem;
  width: 20px;
}

.url {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  color: #484163;
  font-size: 50%;
  height: 40%;
  width: 40px;
  margin-top: 0px;
  margin-left: -265px;
}

.next {
  color: #484163;
  font-size: 50%;
  height: 40%;
  width: 40px;
  margin-top: 0px;
  margin-right: -265px;
}

.allvisits {
  color: #867DA9;
  font-family: "Inter";
  font-weight: bold;
  font-size: 50%;
  text-align: center;
}

.allnumbers {
  color: #B8B4C9;
  font-family: "Inter";
  font-size: 25px;
  font-weight: medium;
  margin-top: -30px;
  margin-bottom: 25px;
  margin-left: 200px;
}

.allsitenames {
  color: #484163;
  font-family: "Inter";
  font-size: 12px;
  font-weight: bold;
}

.allurl {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 30px;
  margin-top: 10px;
}